.alert-success {
    background-color: green
}

.alert-warning {
    background-color: blue;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: lightskyblue; color: black;}
nav li a{color: black}
input{border-radius: 50%;}
body{
    background-color: lightskyblue;
    color: purple;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.accounts table, th, td{
    border: 3px solid black;
    width: 15%;
}

.accounts .hed{
    font-size: 36px;
}

.accounts th{
    font-size: 18px;
    text-align: center;
}
