*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.alert-success {
    background-color: green
}

.alert-warning {
    background-color: blue;
}
.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
input{
    border-radius: 50%;
}
.navbar{
    background-color: aliceblue;
}
.navbar-brand{
    font-size: 36px;
}
.accounts table, th, td{
    border: 3px solid black;
    width: 15%;
}
.accounts .hed{
    font-size: 36px;
}
.accounts th{
    font-size: 18px;
    text-align: center;
}
#title{
    text-align: center;
}
#sidetitle{
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 36px;
}
ul{
    padding-left: 75px;
    list-style-type:'💰';
    font-family: Consolas, monaco, monospace;
}
li{
    margin-bottom: 50px;
    margin-right: 10px;
    font-size: 24px;
}
a {
    box-shadow: inset 0 0 0 0 yellow;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
a:hover {
box-shadow: inset 100px 0 100px 0 gold;
color: black;
}
.dashlink{
margin-left: 70px;
margin-bottom: 50px;
font-size: 24px;
}
.sideP{
margin-left: 50px;
font-size: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

